<%- include('sidebar.ejs') %>

    <body>
        <main class="main">
            <!--===================================HOME======================================-->
            <section class="dashboard" id="juegos">
                <div class="bg_dashboard">
                    <div class="container_text">
                        <h2 class="title">
                            Mis Juegos
                        </h2>
                        <p class="text">

                        </p>

                        <a href="Add-dashboard"><img src="/img/Crea tu juego.jpeg " class="btn_add"></a>
                        <div></div>
                    </div>
                </div>
            </section>

            <div class="table">
                <div class="table_section">
                    <table class="table table-id">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Requisitos
                                </th>
                                <th>
                                    Fecha de lanzamiento
                                </th>
                                <th>
                                    Link
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (data){%>
                                <%for(var i=0; i< data.length; i++ ) { %>

                                    <tr>
                                        <td class="cuerpo">
                                            <%= data[i].nombre_juego %>
                                        </td>
                                        <td class="cuerpo">
                                            <%= data[i].descripcion %>
                                        </td>
                                        <td class="cuerpo">
                                            <%= data[i].requisitos_sistema %>
                                        </td>
                                        <td class="cuerpo">
                                            <%= data[i].fecha_lanzamiento %>
                                        </td>
                                        <td class="botones">
                                            <a href="<%= data[i].link %>" class="link_btn">Descargar</a>
                                        </td>
                                    </tr>

                                    <%}%>
                                        <%}%>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">

                </div>
            </div>
        </main>
    </body>

    </html>